<div class="py-5 text-center">
    <h1>Social Marketing App</h1>
</div>
<br />
<div class="row">
    <div class="col-sm-4">
        <h2>Manage</h2>
        <p>
            Manage your social marketing campaigns from start to finish.
        </p>
    </div>

    <div class="col-sm-4">
        <h2>Schedule</h2>
        <p>
            Schedule your campaigns to post so you don't have to worry.
        </p>
    </div>

    <div class="col-sm-4">
        <h2>Review</h2>
        <p>
            Review history of your campaigns and their effectiveness.
        </p>
    </div>
</div>
