<div class="py-5 text-center">
    <%= image_tag "twitter-logo.png", class: "d-block mx-auto mb-4 logo" %>
    <h1>Social Marketing App</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
    <div class="btn-group">
        <%= link_to "Login", login_path, class: "btn btn-primary" %>
        <%= link_to "Signup", signup_path, class: "btn btn-success" %>
    </div>
</div>
<div class="row py-5">
    <div class="col-sm-4 py-2">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>Manage</h2>
                </div>
                <p class="card-text">
                    Manage your social marketing campaigns from start to finish.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 py-2">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>Schedule</h2>
                </div>
                <p class="card-text">
                    Schedule your campaigns to post so you don't have to worry.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 py-2">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>Review</h2>
                </div>
                <p class="card-text">
                    Review history of your campaigns and their effectiveness.
                </p>
            </div>
        </div>
    </div>
</div>
