<div class="py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <%= twitter_account.name %>
            </h5>
            <p class="card-text">
                <strong>Access Token:</strong> <%= twitter_account.access_token %><br />
                <strong>Access Token Secret:</strong> <%= twitter_account.access_token_secret %>
            </p>
            <%= link_to "Delete", twitter_account_path(twitter_account), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
    </div>
</div>
