<div class="py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <%= twitter_account.name %>
            </h5>
            <p class="card-text">
                <strong>Access Token:</strong> <%= twitter_account.access_token %><br />
                <strong>Access Token Secret:</strong> <%= twitter_account.access_token_secret %>
            </p>
        </div>
    </div>
</div>
